@import "~style/variables";

.page-map {
  $block: &;

  position: fixed;
  top: 4.5rem;
  left: 5.5rem;
  width: calc(100% - 5.5rem);
  height: calc(100% - 4.5rem);
  min-height: calc(100% - 4.5rem);
  max-height: calc(100% - 4.5rem);

  &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 100%;
      width: 100%;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      margin: 0;
      padding: 0;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.5rem;
    right: 0;
    width: 200px;
    height: calc(100% - 4.5rem);
    min-height: calc(100% - 4.5rem);
    max-height: calc(100% - 4.5rem);
    z-index: 100;
    box-shadow: 2px 2px 8px 4px rgba(black, 0.5);
    background-color: #f9fafc;
  }

  &__title {
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid rgba(black, 0.1);
  }

  &__list {
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
  }

  &__popup {
    user-select: none;
    -webkit-user-select: none;

    h1 {
      font-weight: bold;
    }
  }
}

@include desktop() {
  .page-map {
  }
}
