@import "~style/variables";

.driver {
  $block: &;

  @include card();

  overflow: hidden;
  position: relative;
  padding: 0;
  padding-top: 0.5rem;
  width: 100%;

  &__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__floating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    font-size: 2.5rem;
    margin: 0.5rem 1rem;
  }

  &__vehicle {
    padding: 0.5rem 0 0;

    &-name {
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: -0.25em;
      font-size: 0.9rem;
    }

    &-description {
      font-weight: 400;
      opacity: 0.5;
      font-size: 0.8rem;
      line-height: 1.1em;
      margin-top: 0.2em;
      margin-bottom: 0.3em;
    }

    &-update {
      text-transform: uppercase;
      opacity: 0.5;
      font-size: 0.7rem;
      padding: 0.4em 0;
      line-height: 1.1em;
    }
  }

  &__location {
    &--hidden {
      display: none;
    }

    &-theme {
      font-weight: 500;
      margin-bottom: -0.25em;
      font-size: 0.9rem
    }

    &-background {
      font-weight: 400;
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }

  &__buttons {
    justify-content: space-evenly;
    border-top: 1px solid rgba(black, 0.1);
    flex-wrap: wrap;
    padding: 0.125rem;

    &--details {
      margin-top: 0.5rem;
      background-color: $blue-800;
    }
  }

  &__button {
    padding: 0.25rem 0.5rem !important;
    text-transform: uppercase;
    font-size: 0.8rem !important;
    margin-top: 0.125rem !important;
    margin-bottom: 0.125rem !important;

    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    &--hidden {
      display: none !important;
    }

    &--align-end {
      margin-left: auto !important;
    }

    &--no-margin {
      margin-right: -1rem;
    }

    &--floating {
      color: $font-color;
      border-radius: 5rem !important;
      border: 1px solid rgba(black, 0.1) !important;
      text-transform: none !important;
      font-weight: 400 !important;
      font-size: 0.8rem !important;
      margin: 0.25rem !important;
    }

    &.btn-info {
      color: $darkblue-500 !important;
    }

    &-icon {
      margin: 0 0.5rem 0 0;
      font-size: 1.2em;

      &-floating {
        font-size: 0.7rem;
        margin-left: 0.25rem;
      }
    }
  }

  &__speed {
    &--hidden {
      display: none;
    }

    &-theme {
      font-weight: 500;
      margin-bottom: -0.25em;
      font-size: 0.9rem
    }

    &-background {
      font-weight: 400;
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }

  &__temperature {
    &--hidden {
      display: none;
    }

    &-theme {
      font-weight: 500;
      margin-bottom: -0.25em;
      font-size: 0.9rem
    }

    &-background {
      font-weight: 400;
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }

  @media(max-width: 370px) {
    &__button {
      font-size: 3vw !important;
    }
  }

  @media(min-width: 940px) {
    &__group {
      max-width: 25%;
      min-height: 5rem;
      display: inline-flex;
    }

    &__audio {
      &--hidden {
        display: none;
      }
    }

    &__buttons {
      width: 100%;
      max-width: none;
      height: 3rem;
      min-height: auto;
      justify-content: flex-end;
      margin-top: 1rem;
    }
  }

  @media(min-width: 1340px) {
    width: calc(33% - 1rem);
    display: inline-flex;
    flex-direction: column;
    margin: 0.5rem;

    &__group {
      max-width: none;
      display: flex;
    }

    &__audio {
      &--hidden {
        display: none;
      }
    }

    &__buttons {
      width: 100%;
      flex: none;
      margin-top: auto;
    }
  }
}
