@import "~style/variables";

#login .login {
  .action-line {
    justify-content: space-between;

    > label {
      margin: 0;
      height: 100%;
      line-height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .rememberMe {
    .checkbox {
      margin: 0 0.25em 0 0;
    }
  }

  .error {
    color: $red-900;
    font-weight: 400;
    margin: 0.5rem 0;
  }

  .invalid {
    border-color: $red-600;
  }

  #password {
    padding-left: 3rem;
  }

  .password {
    position: relative;
  }

  .show-password {
    position: absolute;
    left: 0;
    top: 1.8rem;
    bottom: 0;

    width: 2.5rem;

    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    border: none !important;
    border-right: 1px solid rgba(black, 0.1) !important;
    border-radius: 0 !important;
    color: #757575 !important;

    @include desktop() {
      top: 2.3rem;
    }
  }
}
